Diagnostics:
  Suppress: [misc-include-cleaner]
CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - -ccbin=*
    - --options-file
    - --options-file=*
    - --generate-code=*
    - -rdc=*
    - --ptxas-options=-v
  Add:
    - --cuda-gpu-arch=sm_86